{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'posts_list' %}">Main Page</a>
                </li>
                <li>
                    <a href="{% url 'post_create' %}">Creat New Blog</a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li>
                    <a href="">Friends</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <a href="{% url 'post_upgrade' post.id %}">Edit</a>
            <a href="{% url 'post_delete' post.id %}">Delete</a>
        </div>
        

        <div>
            <h2><a href="">{{ post.title }}</a></h2>
            <div>{{ post.content }}</div>
            {% if post.image %}
            <img src="{{ post.image }}">
            {% endif %}
            <p>Create on {{ post.create }}, last update on {{ post.update }}</p>
        </div>
    </main>
</body>
</html>