{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'posts_list' %}">Main Page</a>
                </li>
                <li>
                    <a href="{% url 'post_create' %}">Creat New Blog</a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li>
                    <a href="">Friends</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>  
        {% for post in posts %}
        <div class="box">

            <div>
                <header class="top-box">
                    <div class="avatar-box"><img class="touxiang" src="{{ post.avatar }}"></div>
                    <div class="author-box">
                        <ul>
                            <li>{{ post.author }}</li>
                            <li><p>last update on {{ post.update }}</p></li>
                        </ul>
                    </div>
                </header>
            </div>

            <div>
            <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
            <div>{{ post.content }}</div>
            {% if post.image %}
            <img src="{{ post.image }}">
            {% endif %}
             </div>

        </div>
        {% endfor %}
    </main>
</body>
</html>