{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'posts_list' %}">Main Page</a>
                </li>
                <li>
                    <a href="{% url 'post_create' %}">Creat New Blog</a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li>
                    <a href="">Friends</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Update</button>
        </form>
    </main>
</body>
</html>