.avatar-box {
    display: inline-block;
    justify-content: center;
 

}

.author-box {
    display: inline-block;
    justify-content: center;
    flex-direction: column;
}

.box {
    margin-top: 50px;
    margin-bottom: 50px;
}

.touxiang {
    width: 60px;
    height: 60px;
}